.title-highlight-bold {
  font-weight: bold;
}

.highlight-background {
  border-radius: 8px;
  background: var(--highlight-color, yellow);
}

.highlight-circle {
  position: relative;
  left: 0.5em;
}

.highlight-circle:before,
.highlight-circle:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--highlight-color, yellow);
  width: 100%;
  height: 1em;
  position: absolute;
}

.highlight-circle:before {
  border-right-color: transparent;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}
.highlight-circle:after {
  padding: 0.1em 0.25em;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.highlight-square {
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  border-radius: 0.25em;
  position: relative;
  padding: 0.2em;
  margin: 0 0.1em;
  box-shadow: 1px 1px var(--highlight-color, yellow),
    2px 2px var(--highlight-color, yellow);
  transform: rotate(0.5deg);
  opacity: 0.75;
}

.highlight-square::before,
.highlight-square::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--highlight-color, yellow);
  border-radius: inherit;
  opacity: 0.5;
  z-index: -1;
}

.highlight-square::before {
  top: -2px;
  left: -2px;
  transform: rotate(-1deg);
}

.highlight-square::after {
  top: 2px;
  right: -2px;
  transform: rotate(1deg);
}

.highlight-underline {
  position: relative;
  text-decoration: none;
  box-shadow: inset 0 -0.2em 0 0 var(--highlight-color, yellow);
}

.highlight-underline::before {
  background-color: var(--highlight-color, yellow);

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.highlight-border {
  border: 2px dashed var(--highlight-color, yellow);
  padding: 0.03em 0.25em;
}

.highlight-arrow {
  position: relative;
  margin: 0 0.5em;
  padding: 0 0.2em;
}

.highlight-arrow:before,
.highlight-arrow:after {
  content: "";
  z-index: -1;
  top: 0.2em;
  border-width: 0.5em;
  border-style: solid;
  border-color: var(--highlight-color, yellow);
  position: absolute;
}

.highlight-arrow:before {
  left: -0.5em;
  border-width: 0.5em;
  border-style: solid;
  width: calc(100% - 0.5em);
  border-left-color: transparent;
}

.highlight-arrow:after {
  right: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(180deg);
  transform-origin: center right;
}
